body {
    background-color: #323232;
    color: #eeeeec;
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
    color: #eeeeec;
}

a:hover {
    color: #4e9a06;
}

input[type="text"] {
    font-family: "Lucida Console", Monaco, monospace;
}


select::-ms-expand {
    display: none;
}


select{
    -webkit-appearance: none;
    appearance: none;
}


@-moz-document url-prefix(){
}


select option {
    font-size: 1.8em;
}


.react-grid-placeholder {
    display: none;
}

.recharts-wrapper {
    position: absolute;
}

.help h1 {
    color: #a9d001;
}

.help h2 {
    color: #c4a000;
}

.help h3 {
    color: #8282a7;
}

.qb-drag-handler {
    display: none;
}

.rule--operator {
    display: none;
}

.widget--valuesrc {
    display: none;
}

.rule, .rule--body--wrapper, .rule--body, .rule--field, .rule--value, .rule--header {
    display:inline-block
}

.rule--header button {
    font-family: "Lucida Console", Monaco, monospace;
    color: #eeeeec;
    font-size: 1.2em;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.rule--header button:hover {
    color: #a9d001;
}

.rule--field select {
    font-family: "Lucida Console", Monaco, monospace;
    padding: 0.2em;
}

.widget--widget label {
    font-family: "Lucida Console", Monaco, monospace;
}

.widget--widget input {
    padding: 0.2em;
}

.group--actions button {
    font-family: "Lucida Console", Monaco, monospace;
    border: 2px solid rgb(11, 11, 11);
    background-color: rgb(148, 148, 148);
    margin: 0px;
    font-size: 1em;
    padding: 0.15em;
}

.widget--widget input[type=radio] {
    border: 2px solid #eeeeec;
    padding: 0.5em;
    -webkit-appearance: none;
}

.widget--widget input[type=radio]:checked {
    background-color: #a9d001;
}
